@font-face {
  font-family: "Brevia";
  src: url(./fonts/brevia-semibold.otf);
  font-weight: semibold;
}

@font-face {
  font-family: "Brevia";
  src: url(./fonts/brevia-light.otf);
  font-weight: light;
}

body {
  margin: 0;
  font-family: "Brevia", -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto",
    "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  font-weight: light;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
